<section class="menu_nav">

<nav class="menu">
    <div class="logo_img"></div>
      <ul>
        <li><a href="{{path('app_accueil')}}" class="menu_li" >Accueil</a></li>
        <li><a href="{{path('app_nos_realisations')}}" class="menu_li" >Nos réalisations</a></li>
        <li><a href="{{path('app_avis_clients')}}" class="menu_li" >Avis clients</a></li>
        <li><a href="{{path('app_contact')}}" class="menu_li" >Contact</a></li>
      </ul>
  </nav>
  </section>
