<section class="menu_nav">

<nav class="menu">
    <!--<img src="impossible telecharger image via html. je n'arrive pas. Pour cela image se trouve dans css" alt=""> -->
    <div class="logo_img"></div>
      <ul>
        <li>Accueil</li>
        <li>Nos réalisations</li>
        <li>Avis clients</li>
        <li>Contact</li>
      </ul>
  </nav>
  </section>
