{% extends 'base.html.twig' %}

{% block title %}Nos réalisations – Toits Pyrènèens{% endblock %}

{% block extendNav %}
    <section class="container" id="header_text_and_vector">
        <div class="row">
            <div class="col-sm-8 col-12">
                <h1>TOITS PYRÉNÉENS</h1>
                <div class="topLine">
                    <h3>Rèalisations de nos chantiers
                    </h3>
                </div>
            </div>
            <div class="col-4 d-md-block d-sm-none d-none">
                <div class="home_vector"></div>
            </div>
        </div>
    </section>
{% endblock %}

{% block body %}
    <!--les icones-->
    {% include 'partials/icones.html.twig' %}

    <div style="margin-top: 25px">&nbsp;</div>

    {% for cat in categories %}
        {% include 'nos_realisations/categorie.html.twig' with {articles: cat.articles, titre: cat.titre} %}
    {% endfor %}
{% endblock %}
