* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

/*partie general pour chaque page*/
.ligne_yellow {
    background-color: #FFF100;
    width: 30vw;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.espace {
    height: 4vh;
}

/*header menu et footer*/
.menu_nav {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    height: 15vh;
    width: 100vw;
    color: #626262;
}

.menu {
    display: flex;
    height: 12vh;
    width: 100vw;
    align-items: center;
    background-color: #EBD301;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 80vw;
}

.menu li {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;

}

.logo_img {
    display: flex;
    background-image: url("../img/logo.png");
    height: 15vh;
    width: 19vw;
    background-repeat: no-repeat;
    margin: 0;
}

/*footer*/
footer {
    width: 100vw;
    height: 20vh;
    background-color: #EBD301;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*partie background,avec le text et un vector*/
.header_fon {
    display: flex;
    justify-content: space-around;
    background-image: url("../img/fon.png");
    height: 80vh;
    width: 100vw;
    background-repeat: no-repeat;
}

.header_text_and_vector {
    display: flex;
    width: 70%;
    color: #ffffff;
}

.home_vector {
    background-image: url("../img/home.png");
    background-repeat: no-repeat;
    height: 100%;
    width: 30%;
    padding-top: 5vh;
}

.text_header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 60vw;
}

.home_vector {
    display: flex;
}

/*les icones*/
.icones_accuel {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    height: 20vh;
    width: 100vw;
}

.icones_fon {
    display: flex;
    align-items: center;
    background-color: #2F2F32;
    height: 14vh;
    width: 100vw;
}

/*accuel menu dinamique*/
.realisations {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.menu_dynamique {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.menu_dynamique li {
    list-style: none;
    height: 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div_realisations {

    flex-direction: row;
    width: 70vw;
    height: 45vh;
    display: none;
}

.text_realisations {
    width: 40vw;
}

.img_lien_accueil {
    width: 60vw;
    display: flex;
    flex-direction: column;
}

.img_accueil {
    width: 22vw;
    height: 18vh;
}

.text_accueil_fin {
    width: 70vw;
    height: 30vh;
}



/*contact partie*/
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/contact.png");
    width: 100vw;
    height: 100vh;
}

.form_contact {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/form.png");
    width: 50vw;
    height: 60vh;
    color: #ffffff;

}