{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<section class="header">
<img src="../public/img/fon.png" alt="couverture Pau Jurançon">
<h1>TOITS PYRÉNÉENS</h1>

</section>

{% endblock %}
