{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<section class="header_fon">
<section class="header_text_and_vector">
<div class="text_header">
<h1>TOITS PYRÉNÉENS</h1>
<p>TOITS PYRÉNÉENS c’est 20 ans d’expérience de son décideur dans la connaissance des techniques du 
toits, expérience ancrée dans le savoir faire traditionnel, toujors incontournable, et utilisant les 
techniques nouvelles d’aujord’hui.</p>
</div>
<div class="home_vector"></div>
</section>
</section>
<!--les icones-->
<section class="icones_accuel">
<div class="icones_fon">
<!--ici il faut ajoter les icones-->
<img src="{{ asset('img/icon1.png') }}" alt="" />
</div>
</section>

<!--les realisations, une grande partie avec les div cachés-->
<section class="realisations">
<section class="couverture"></section>
<section class="zinguerie"></section>
<section class="charpente"></section>
<section class="pose_fenetre"></section>
<section class="nettoyage"></section>
<section class="bardage_bois"></section>
<section class="depannage"></section>
<section class="plancer_bois"></section>

</section>

{% endblock %}
