{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<section class="header_fon">
</section>
<section class="contact_sections">
  
   <div class="ligne_yellow">
      <h3>OÙ ON SE TROUVE?</h3>
   </div>
   <div class="contact_text_information">
      <h4>19 rue JEAN MOULIN <br>JURANÇON 64110</h4>
   </div>
</section>
<section class="contact_sections">
  
   <div class="ligne_yellow">
      <h3>HEURES D’OUVERTURE:</h3>
   </div>
   <div class="contact_text_information">
      <h4>Lundi - vendredi     de 08.00 à 17.30 heures</h4>
   </div>
</section>
<section class="contact_sections">
  
   <div class="ligne_yellow">
      <h3>NUMÉRO DE TÉLÉPHONE:</h3>
   </div>
   <div class="contact_text_information">
      <h4>06 88 41 71 47</h4>
   </div>
</section>
<div class="espace"></div>
<div class="ligne_yellow">
      <h3>Pour nous envoyer un message veillez utiliser la forme:</h3>
   </div>


{% endblock %}
